:root {
  /* Colours */
  --color-text: #d4d4dc;           /* Saffron for text */
  --color-primary: #90ee90;        /* Light green as primary */
  --color-secondary: #1d1e22;      /* Warm light saffron-like shade */
  --color-dark: #39a0ca;
  --color-bg:  #12343b;             /* Deep teal-green background for contrast */

  /* Fonts */
  --font-roboto: "Roboto";
}
